<header class="header">
  <ul>
    <li>
<!--      <h1>Category: </h1>-->
      <h3 [ngClass]="{'isActive': isActive}">{{selectedCategory?.name}}</h3>

    </li>
    <li >

      <mat-icon [ngStyle]="{'color':'white'}"
                matTooltip="Add New Category"  matTooltipClass="custom-tooltip"
                (click)="onAddCategory()" >
        add
      </mat-icon>

    </li>


    <li>
      <mat-icon [ngClass]="{'disabled': !selectedCategory?.name|| categoryListFromLS.length === 0}" [ngStyle]="{'color':'white'}"
                matTooltip="View Details" matTooltipClass="custom-tooltip" (click)="onViewDetails()">
        remove_red_eye
      </mat-icon>

    </li>
    <li>
      <mat-icon [ngClass]="{'disabled': !selectedCategory?.name || categoryListFromLS.length === 0}" [ngStyle]="{'color':'white'}"
                matTooltip="Edit Category" matTooltipClass="custom-tooltip"
                (click)="onUpdateCategory(selectedCategory,categoryIndex)">edit
      </mat-icon>
    </li>
    <li>
      <mat-icon [ngClass]="{'disabled': !selectedCategory?.name|| categoryListFromLS.length === 0}" [ngStyle]="{'color':'white'}"
                matTooltip="Delete Category" matTooltipClass="custom-tooltip" (click)="onRemoveCategory()">delete
      </mat-icon>
    </li>
  </ul>
</header>


<div class="container"  [class.show]="showAddForm">
  <mat-card>

    <form [formGroup]="addCategoryForm" class="card-form">
      <h3>{{tittle_button_text}}</h3>
      <div class="category_name">
        <mat-form-field>
          <input matInput placeholder="Category Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="location" formGroupName="location">
        <mat-form-field>
          <input matInput placeholder="Location Address" formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Location Name" formControlName="name">
        </mat-form-field>
        <div class="coordinates" formGroupName="coordinates">
          <mat-form-field>
            <input matInput placeholder="Longitude" formControlName="longitude">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Latitude" formControlName="latitude">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput placeholder="Location Category" formControlName="category">
        </mat-form-field>
      </div>

    </form>
    <div class="actions">
      <button mat-raised-button [color]="'secondary'" [disabled]="addCategoryForm.invalid"
              (click)="addCategory(addCategoryForm.value,tittle_button_text)">{{tittle_button_text}}</button>

    </div>
  </mat-card>
</div>

<div class="categories-list" *ngIf="categoryList;else categoriesFromLS" [ngClass]="{'hide': categoryListFromLS.length === 0}">
  <h3>All Categories</h3>
  <ul>
    <li *ngFor="let category of categoryList| async;let i=index"
        [ngClass]="{'isActive': categoryListFromLS[i] === selectedCategory}"
        (click)="onSelectCategory(category,i)">{{category.name}}</li>
  </ul>


</div>


<ng-template #categoriesFromLS >
  <div class="categories-list" [ngClass]="{'hide': categoryListFromLS.length === 0}">
    <h3>All Categories</h3>
    <ul *ngIf="categoryListFromLS.length>0">
      <li *ngFor="let category of categoryListFromLS;let i=index"
          [ngClass]="{'isActive': category === selectedCategory}"
          (click)="onSelectCategory(category,i)">{{category.name}}</li>
    </ul>
  </div>
</ng-template>


<div class="container" *ngIf="categories">
  <h3>Categories</h3>
  <ul>
    <li *ngFor="let category of categories| async;let i=index"  (click)="onSelectCategory(category,i)">{{category.name}}</li>
  </ul>
</div>

